<div class="container">
  <br>
  <h2 class="text-center text-title text-uppercase">
    Todo List
    <br>
  </h2>
  <!-- <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()"> -->
  <!-- Add new Todo -->
  <div class="form-group row container-fluid">
    <div class="col-sm-2">
      <input class="form-control" [(ngModel)]="newTodo.name" type="text" placeholder="Name">
    </div>
    <div class="col-sm-8">
      <input class="form-control" [(ngModel)]="newTodo.des" type="text" placeholder="Description">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" (click)="addTodo()">Add new todo</button>
    </div>
  </div>
  <!-- End Add new Todo-->
  <br>
  <div class="content-center">
    <table class="table table-bordered text-table ">
      <thead class="header-table">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Done</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
          <tr *ngIf="todo_data.length == 0"><td colspan="4" class="text-center">No Todo for this Trip</td></tr>
      <tr *ngFor="let todo of todo_data">
            <td>{{todo.name}}</td>
            <td>{{todo.description}}</td>
            <td>
              <div class="container-fluid"><input class="toggle" type="checkbox" [checked]="todo.status == 1" (click)="toggleTodo(todo.id, todo.status)"></div>
            </td>
            <td>
              <div class="container-fluid"><button type="button" class="btn btn-danger" (click)="removeTodo(todo.id)">DELETE</button></div>
            </td>
      </tr>
    </table>
  </div>
</div>
